In [1]:
from CustomEncoders import CountEncoder
import pandas as pd

In [2]:
dictionary = {"Values":["A", "B", "B", "C", "A", "B", "C", "BBA"]}
df = pd.DataFrame(dictionary)

In [3]:
df

  Values
0      A
1      B
2      B
3      C
4      A
5      B
6      C
7    BBA

In [4]:
ce = CountEncoder(columns=["Values"])

In [5]:
df = ce.fit_transform(df)

In [6]:
df

   Values
0       2
1       3
2       3
3       2
4       2
5       3
6       2
7       1